.ClickBtn{
  margin: 3px;
  padding: 2px 12px 2px 12px;
  background-color: yellowgreen;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  height: 100px;
  background-color: blueviolet;
}

.navItems{
  font-size: large;
  color: white;
  padding: 12px;
  text-decoration: none;
}

.imageBtn{
  padding: 12px;
  margin: 8px;
  background-color: blueviolet;
}
.mapFunction{
  padding: 10px;
  margin: 10px;
  /* display: flex; */
  /* flex-direction: column !important; */
  display: inline-block;
  gap: 2;
}